<ion-header>
  <ion-toolbar>
    <ion-title>
      slide 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <img src="/assets/oke.jpg" alt="" />
      <ion-card-header>
        <ion-card-subtitle>Get Started</ion-card-subtitle>
        <ion-card-title>halloo gaes</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Selamat Datang Dihalaman pertama</p>
      </ion-card-content>
    </ion-card>
    <ion-list lines="none">
      <ion-list-header>
        <ion-label>Resources</ion-label>
      </ion-list-header>
      <ion-item [routerLink]="'/tabs/tab1/detail'">
        <ion-icon slot="start" color="medium" name="book"></ion-icon>
        <ion-label>Detail</ion-label>
      </ion-item>
      <ion-item href="https://instagram.com/selowlur?igshid=h20smp9pchpp">
        <ion-icon slot="start" color="medium" name="build"></ion-icon>
        <ion-label>buka ig </ion-label>
      </ion-item>
      <ion-item href="https://m.facebook.com/home.php?hrc=1&refsrc=https%3A%2F%2Fm.facebook.com%2Flogin%2Fsave-device%2F_=_">
        <ion-icon slot="start" color="medium" name="grid"></ion-icon>
        <ion-label>buka fb</ion-label>
      </ion-item>
      <ion-item href="https://instagram.com/riskibayu01?igshid=opwzvysddnop">
        <ion-icon slot="start" color="medium" name="color-fill"></ion-icon>
        <ion-label>igne gondol</ion-label>
      </ion-item>
    </ion-list>
</ion-content>
